body {
    background-image: url("Nerdquizz.png");
    background-size: auto;
}
h1 {
    font-family: Impact;
    text-align: center;
    font-size: 300%;
    border: 30px rgb(146, 250, 114);
    padding: 20px;
    margin: 10px;
}
a {
    text-align: center;
    font-size: 200%;
}
p {
    text-align: center;
}
input {
    color:rgb(0, 0, 0);
    text-align: center;
    display:inline;
    cursor: pointer;
    background-color: rgb(255, 255, 255);
    font-size: 100%;
    padding: 10px;
    border-radius: 10px;
}
button {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color:rgb(0, 0, 0);
    text-align: center;
    display:inline-block;
    cursor: pointer;
    background-color: red;
    font-size: 200%;
    padding-top: 70px;
    padding-bottom: 70px;
    padding-right: 150px;
    padding-left: 150px;
    border-radius: 7px;
}

.bbutton {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color:rgb(0, 0, 0);
    text-align: center;
    display:inline-block;
    cursor: pointer;
    background-color: red;
    font-size: 200%;
    padding: 80px;
    border-radius: 50%;
    
}
.bbbutton {
    font-size: large;
    margin-bottom: 6px;
    padding-left: 60px;
    padding-top: 4%;
    padding-right: 60px;
    padding-bottom: 4%;
    background-color: rgb(41, 41, 41);
    color: aliceblue;
}
form {
    border: 3px solid rgb(68, 66, 66);
    border-radius: 5px;
    width: 230px;
    text-align: center;
    padding: auto;
    margin: auto;
    margin-top: 20%;
    background-color: aliceblue;
    box-shadow: 40px;
}
div {
    margin: auto;
}
